{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Access Denied</title>
    <style>
      body {
        font-family: Roboto, Helvetica, Arial, sans-serif;
        text-align: center;
        margin: 0;
      }
      .header {
        background-color: #010101;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .header img {
        height: 100%;
      }
      h1 {
        color: #d32f2f;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
      }
    </style>
  </head>

  <body>
    <div class="header">
      <img src="{% static 'biomedit_logo.svg' %}" alt="logo" />
    </div>
    <h1>Account Inactive</h1>
    <p>
      Your account is currently inactive. To restore access, please reach out to
      our support team at {{ contact_email | urlize }}
    </p>
  </body>
</html>
